@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
  font-family: "Roboto", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #ccc;
}
.CSV {
  text-align: center;
}

.answer:nth-child(-n + 9) {
  background: #aaa;
}
